[submodule "OmniIsaacGymEnvs"]
	path = OmniIsaacGymEnvs
	url = https://github.com/Leedk3/OmniIsaacGymEnvs
	branch = main
[submodule "IsaacGymEnvs"]
	path = IsaacGymEnvs
	url = https://github.com/Leedk3/IsaacGymEnvs
	branch = main
[submodule "ros_ws/src/isaac_ros_common"]
	path = ros_ws/src/isaac_ros_common
	url = https://github.com/Leedk3/isaac_ros_common
	branch = main
[submodule "ros_ws/src/isaac_ros_visual_slam"]
	path = ros_ws/src/isaac_ros_visual_slam
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_visual_slam
	branch = main
[submodule "ros_ws/src/isaac_ros_nitros"]
	path = ros_ws/src/isaac_ros_nitros
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_nitros
	branch = main

[submodule "ros_ws/src/turtlebot3"]
	path = ros_ws/src/turtlebot3
	url = https://github.com/ROBOTIS-GIT/turtlebot3.git
	branch = humble-devel
[submodule "ros_ws/src/dynamixel-workbench"]
	path = ros_ws/src/dynamixel-workbench
	url = https://github.com/ROBOTIS-GIT/dynamixel-workbench.git
	branch = humble-devel
[submodule "ros_ws/src/DynamixelSDK"]
	branch = humble-devel
	path = ros_ws/src/DynamixelSDK
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK.git
[submodule "ros_ws/src/turtlebot3_msgs"]
	path = ros_ws/src/turtlebot3_msgs
	url = https://github.com/ROBOTIS-GIT/turtlebot3_msgs.git
	branch = humbel-devel
